@using Inv.WebUI.Resources
@{
    ViewBag.Title = @SystemResource.Men_AccDefBox;
    Layout = "~/Views/Shared/Layout.cshtml";
}

<style>

    .fontitm3DefStore {
        float: right;
        margin: 5px -15px 0px 0px !important;
        font-size: 25px !important;
        position: absolute;
    }

    .display_none {
        display: none !important;
    }

    #btnAddDetails {
        font-size: 40px;
    }

        #btnAddDetails:hover {
            color: #24b414;
        }

    .glyphicon-remove-sign:hover {
        color: red
    }

    .disabledDiv {
        pointer-events: none;
        opacity: 0.7;
    }
</style> 
    <div id="divMasterGridiv" class="col-lg-12  margingred  borderred   display_none " style="width: 99%;">
        <div class="col-lg-3 col-xs-8" style="margin-bottom: 4px;margin-right: 27px;margin-top: 9px;">
            <input id="searchbutmemreport" name="" type="text" class="form-control  text_Display" placeholder="@SystemResource.search_warehouse ">
        </div>
        <div class="col-lg-12 ">

            <table id="divMasterGrid"></table>
        </div>
    </div>   
<script src="~/ClientApp/StkDefinition/FullStock.js"></script>
